= render :partial => 'types', :object => Drink::TYPES[0...4]

.main
  #logo
  .content#home
    %h1 What are you reading?
    %form#search(action="search")
      %input.title-input{:type => "text", :name => "title", :placeholder => "Book title"}
      %button.recommend{:type => "submit"} What should I drink?

= render :partial => 'types', :object => Drink::TYPES[4..-1]
