.thin-col
  .drink-type.not-active
    .drink#beer
  .drink-type.not-active
    .drink#highball
  .drink-type.not-active
    .drink#wine
  .drink-type.not-active
    .drink#teapot
.main
  #logo
  .content#home
    %h1 What are you reading?
    %form(action="search")
      %input.title-input{:type => "text", :name => "title", :placeholder => "Book title"}
      %button.recommend{:type => "submit"} What should I drink?
.thin-col
  .drink-type.not-active
    .drink#cocktail
  .drink-type.not-active
    .drink#shots
  .drink-type.not-active
    .drink#testtube
  .drink-type.not-active
    .drink#lowball
