/* Globals */

$blue: #273740;
$peach: #f2d194;
$orange: #bf6b04;
$ochre: #872702;
$red: #550a03;

body, input, textarea {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
}

body {
	background-color: $peach;
}

h1 {
	color: $red;
	font-size: 36px;
	line-height: 48px;
	font-weight: bold;
	text-transform: uppercase;
}

#content {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 10px;
}

#header, #well, #footer {
	margin: 0 10px;
}

#header {
	margin-top: 24px;
}

input, textarea {
	border: 1px solid #ddd;
}

input {
	font-size: 24px;
	line-height: 36px;
}
